
package infrastructure


type Config struct {
	Routing struct {
		Port string
	}
	DB struct {
		Production struct {
			Host string
			Username string
			Password string
			DBName string
		}
		Test struct {
			Host string
			Username string
			Password string
			DBName string
		}
	}
}


func NewConfig() *Config {

	c := new(Config)

	c.Routing.Port = ":8080"

	c.DB.Production.Host = "localhost"
	c.DB.Production.Username = "username"
	c.DB.Production.Password = "password"
	c.DB.Production.DBName = "db_name"

	c.DB.Test.Host = "localhost"
	c.DB.Test.Username = "username"
	c.DB.Test.Password = "password"
	c.DB.Test.DBName = "db_name_test"

	return c
}
