{{ define "index.tmpl" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>psychedelicnekopunch/gin-clean-architecture</title>
</head>
<body>
	index<br>
	<a href="/templates">template sample</a> | <a href="/forms">form sample</a>
</body>
</html>

{{ end }}
