{{ define "index.tmpl" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>psychedelicnekopunch/gin-clean-architecture</title>
</head>
<body>
	index<br>

	<h2>view templates</h2>
	<a href="/templates">template sample</a> | <a href="/forms">form sample</a> | <a href="/cookies">cookie sample</a><br>

	<h2>json</h2>
	<a href="/json/1">json sample</a><br>

	<h2>Assets</h2>
	<a href="/assets">load css, js</a><br>

	<h2>and more</h2>
	see app/infrastructure/Routing.go
</body>
</html>

{{ end }}
