{{ define "templates/error.tmpl" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>psychedelicnekopunch/gin-clean-architecture</title>
</head>
<body>
	templates/error<br>

	{{ .ErrorMessage }}
</body>
</html>

{{ end }}
