{{ define "templates/index.tmpl" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>psychedelicnekopunch/gin-clean-architecture</title>
</head>
<body>
	{{ template "components/header.tmpl" }}

	templates/index<hr>

	{{ template "components/repos.tmpl" . }}
</body>
</html>

{{ end }}
