{{ define "components/repos.tmpl" }}

{{ .Lists | len }} items<hr>
{{ range $i, $list := .Lists }}

	{{ $item := index $.Lists 0 }}

	$item.Name is {{ $item.Name }}<br>
	index: {{ $i }}
	{{ if eq $i 10 }}
		!!!!!
	{{ end }}
	<br>
	<time>{{ $list.CreatedAt | formatedDate }}</time><br>
	{{ $list.Name }} <small>(ID: {{ $list.ID }})</small><hr>
{{ end }}

{{ end }}
