
package infrastructure


type Config struct {
	Routing struct {
		Port string
	}
	DB struct {
		Production struct {
			Host string
			Username string
			Password string
			DBName string
		}
		Test struct {
			Host string
			Username string
			Password string
			DBName string
		}
	}
	AbsolutePath string
}


func NewConfig() *Config {

	c := new(Config)

	c.Routing.Port = ":8080"

	c.DB.Production.Host = "gin-clean-architecture-mysql"
	c.DB.Production.Username = "root"
	c.DB.Production.Password = "password"
	c.DB.Production.DBName = "test"

	c.DB.Test.Host = "mysql"
	c.DB.Test.Username = "root"
	c.DB.Test.Password = "password"
	c.DB.Test.DBName = "test_test"

	c.AbsolutePath = "/var/www/html"

	return c
}
