{{ define "assets/index.tmpl" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>psychedelicnekopunch/gin-clean-architecture</title>
	<link rel="stylesheet" href="/css/style.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<a href="/">← top</a><br>

	assets/index<br>

</body>
</html>

{{ end }}
